
    {% for domain in domains %}

        <div>
            <span class="domain-name amber-text text-darken-4">{{ domain.name }}</span>

            <ul class="collapsible" data-collapsible="expandable">

                {% for soft in domain.soft %}
                    <li class="soft
                        {% if soft.score%}
                            hoverable
                        {% endif %}
                        ">
                        <div class="collapsible-header">
                            {{ soft.software }}

                            {% if soft.score %}
                                <div>
                                    <span style="font-size: 16px; color:{{soft.scoreColor}}">{{soft.score}}</span>
                                </div>
                            {% else %}
                                <div class="light-green-text">Not vulnerable</div>
                            {% endif %}
                        </div>

                        <div class="collapsible-body">

                            <ul class="collection">

                                {% for vns in soft.vulnerabilities %}
                                    <li class="collection-item data-item">
                                        <div>
                                            <a class="" href="https://vulners.com/{{ soft.type }}/{{vns.id}}">
                                                <span class="title">{{vns.id}}</span>
                                            </a>
                                            <span class="truncate data-title">{{vns.title}}</span>
                                        </div>
                                        <a class="secondary-content">
                                            <span style="font-size: 16px; color:{{vns.scoreColor}}">{{vns.score}}</span>
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>


                        </div>

                    </li>
                {% endfor %}

            </ul>

        </div>

    {% endfor %}